h1 {
    background:#00ff00;
    text-align: center;
}

.card {
    height: 500px;
    width: 1000px;
    background-color:#ffffff;
    border: 2px #000000 solid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.term {
    font-size:100px;
    text-align:center;
    font-weight:bold;
    margin-top:100px;
}

.topper {
    margin-top:1px;
}
